html{
    box-sizing: border-box;
}
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

body {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.container{
    margin: 0 auto;
    width: 900px;
}
.main-section {
    padding-bottom: 71px;
}

body h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
}
body p {
    margin: 0;
}

.main-header {
    padding: 77px 0px 103px 0px;
    
}

.main-menu {
    padding: 0px;
    margin: 0;
    font-size: 0;
    list-style: none;
    text-align: center;
}


.main-menu a {
    display: block;
    font-size: 14px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;    
}
.main-menu a:hover, a:focus {
    color: #03a9f4;
}


.main-menu li {
    display: inline-block;    
}

.main-menu .main-menu-item1 {
    margin-right: 124px;
}

.main-menu .main-menu-item2 {
    margin-right: 106px;
}

.main-menu .main-menu-item3 {
    margin-right: 96px;
}


.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    line-height: 17px;
    margin-top: 30px;
    margin-bottom: 29px;
}

.main-section button {
    font-size: 20px;
}
.main-section article {
    display: inline-block;
    width: 419px;
}
.article {
margin-right: 58px;
}

.text {
    margin-top: 34px;
    margin-bottom: 132px;
}
.text-over-button {
    margin-top: 34px;
    margin-bottom: 54px;
}
.button {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #ffffff;
    border: 1px solid #626262;
    padding: 20px 34px;
    margin: 0px 380px 0px 360px;
    cursor: pointer;
}

.button:hover, .button:focus {
    color: #ff0000;
}
